<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for your order</h1>
    <p>
      Hello <%= @user.name %>,
    </p>
    <p>
      Your order has been recieved and being processed.
    </p>
   <table>
      <thead>
        <tr>
          <th>Product</th>
          <th>Unit Price</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
      <% @items.each do |item| %>
        <tr>
          <td>
            <%= item.product.name %>
          </td>
          <td>
            <%= item.item_price_cents %>
          </td>
          <td>
            <%= item.quantity %>
          </td>
          <td>
            <%= item.total_price_cents %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <p>TOTAL: <%= humanized_money_with_symbol @items.sum(:total_price_cents) %></p>
    <p>Thanks for using Jungle and have a great day!</p>
  </body>
</html>