<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
    <h1>Total: <%= humanized_money_with_symbol @order.line_items.sum(:total_price_cents) %></h1>
    <h1><%= @order.email%></h1>
  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
  </div>

  <section class="products-index">
    <div class="products">
    <%= render @order.line_items %>
    </div>
  </section>



  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
