<article class="product">
  <header>
    <%= link_to line_item.product do %>
      <%= image_tag line_item.product.image.thumb, alt: line_item.product.name %>
      <h4><%= line_item.product.name %></h4>
    <% end %>
  </header>
  <p class="description">
    <%= line_item.product.description %>
  </p>
  <footer class="actions">
    <p>Quantity: <%= line_item.product.quantity %></p>
    <p>Price: <%= line_item.item_price_cents %></p>
  </footer>

</article>